# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# 4 space space indentation
[*.py]
indent_style = space
indent_size = 4

# 8 space tab indentation for CPP files
[*.cc]
indent_style = tab
indent_size = 4
[*.cpp]
indent_style = tab
indent_size = 4
[*.H]
indent_style = tab
indent_size = 4

# Tab indentation for Makefiles
[Makefile]
indent_style = tab

