Backtrace*
*.mpg
*.o
results
bin
*.mod
*.\#*
\#*
myoutput*
doc
*~
output*
*.txt
plot*
bl_prof*
build
*.orig
*.pyc
*.db
simba.sh
bin2d
bin3d
docs/build
docs/doxygen
docs/html
docs/latex
*.d
TrigTest*
testoutput*
Makefile.conf
Makefile.amrex.conf
Makefile.pre.conf
Makefile.post.conf
*.so
.vscode
*.mypy_cache
visitlog.py
amrex
amrex.build.log
.diff.html
eigen3
