Record_*
Backtrace*
*.mpg
*.o
results
bin
*.mod
*.\#*
\#*
myoutput*
doc
*~
output*
*.txt
plot*
bl_prof*
build
*.orig
*.pyc
*.db
simba.sh
bin2d
bin3d
docs/build
docs/doxygen
docs/html
docs/latex
*.d
testoutput*
Makefile.conf
Makefile.amrex.conf
Makefile.pre.conf
Makefile.post.conf
*.so
.vscode
visitlog.py
amrex
amrex.build.log
.diff
eigen3
IAMR
obj
cov
githubpages
ext/
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
compile_commands.json
.cache/
.python-version
.clangd.gitignore.swp
Doxyfile.bak
myenv/
sphinx_env/
*.png
*.session
