*cell
*node
*~
Backtrace*
results/.simba/config
*.xyz
*.aux
*.bbl
*.blg
*.log
*.out
main.pdf
*.spl
*.tdo
.ipynb_checkpoints
.~*
__pycache__
celloutput.visit
diff.html
diff.patch
results/.simba/.gitattributes
celloutput.visit
metadata
*.orig
results_*.db
*_BASE_*
*_BACKUP_*
*_LOCAL_*
*_REMOTE_*
.merge_*
*.blend
*.curve
*stdout
*.pickle
*.blend1
#*
visitlog.py
*.gif
arxiv.tar.gz
CFSubmissionLetter.pdf
*.docx
CNF*.pdf