{% extends "layout.html" %}
{% block content %}

<h3>Simulation Information</h3>
<table class="table" style="width:100%;">
  <thead>
	<tr>
	  <th>Field</th><th>Value</th>
	</tr>
  </thead>
  {% for i in range (0,columns|length) %}
  <tr>
	<td> {{ columns[i] }}</td>
	{% if columns[i] == "Description" %}
	<td>
	  <div width="100%">
		{{data[i]}}
		<button type="button" class="btn btn-primary pull-right btn-xs" data-toggle="collapse" data-target="#form-description">Edit Description</button>
	  </div>
	  <br/>
	  <div width="100%">
		<form width="100%" class="form-group collapse out" id="form-description" action="/table/{{table}}/entry/{{entry}}" method="post">
		  <textarea class="form-control" rows="5" name='description'>{{data[i]}}</textarea>
		  <button class="btn btn-success pull-right" type="Update">Update</button>
		</form>
	  </div>
	</td>
	{% elif columns[i] == "Tags" %}
	<td>
	  <div width="100%">
		{{data[i]}}
		<button type="button" class="btn btn-primary pull-right btn-xs" data-toggle="collapse" data-target="#form-tags">Edit Tags</button>
	  </div>
	  <br/>
	  <div width="100%">
		<form width="100%" class="form-group collapse out" id="form-tags" action="/table/{{table}}/entry/{{entry}}" method="post">
		  <textarea class="form-control" rows="5" name="tags">{{data[i]}}</textarea>
		  <button class="btn btn-success pull-right" type="Update">Update</button>
		</form>
	  </div>
	</td>
	{% else %}
	<td> {{ data[i] }}</td>
	{% endif %}
  </tr>
  {% endfor %}
</table>

<h3>Simulation Analysis</h3>

<div class="row">
	{% for i in range(0,imgfiles|length) %}
	<div class="thumbnail col-md-4 ml-auto">
	  <a class="thumbnail" href="/img/{{i}}" style="word-wrap:break-word;">
	  <img src="/img/{{i}}" ></img>
	  </a>
	  <div class="caption text-center">
		<a href="/img/{{i}}"> {{imgfiles[i]}}</a>
	  </div>
	</div>
	{% endfor %}
</div>


{% endblock %}
