{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
	<a href="/table/{{table}}"><button type="button" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-arrow-left"></span> Back </button></a>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
		<b>Delete Record Confirmation</b>
      </div>
      <div class="modal-body">
		Are you sure you want to delete this record?
      </div>
      <div class="modal-footer">
		<form action="/table/{{table}}" method="post">
		  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		  <input type="hidden" value="{{entry}}" name="entry-hash" />
          <button type="submit" class="btn btn-warning btn-ok" name="action" value="delete-entry-only"><span class="glyphicon glyphicon-trash"></span> Delete Database Entry Only</a>
		  <!--input type="hidden" value="{{entry}}" name="delete-entry-dir" /-->
          <button type="submit" class="btn btn-danger btn-ok" name="action" value="delete-everything"><span class="glyphicon glyphicon-trash"></span> Delete Everything</a>
		</form>
      </div>
    </div>
  </div>
</div>
<script>
  $('#confirm-delete').on('show.bs.modal', function(e) {
  alert(e);
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
  });
</script>

<style>
	.table {
		width:100%;
	}
	.table tr td{
		text-align: left;
	}
</style>

<div class="container-fluid">
	<h3 class="pull-left">Simulation Information</h3>
</div>
<div class="container-fluid">
	<button onclick="window.location.href = '/metadata/';" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-cog margin-right px-2"></span> Download metadata file</button>
	{% if thermofile == None %} 
		<button onclick="window.location.href = '/thermo/';" class="btn btn-disabled pull-left" disabled><span class="glyphicon glyphicon-signal"></span> Download thermo.dat</button> &nbsp;
	{% else %} 
		<button onclick="window.location.href = '/thermo/';" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-signal"></span> Download thermo.dat</button> &nbsp;
	{% endif %}
	<button type="button" class="btn btn-danger pull-left" data-href="/delete.php?id=54" data-toggle="modal" data-target="#confirm-delete"><span class="glyphicon glyphicon-trash"></span> Delete</button>&nbsp;
</div>

<div class="container-fluid">
<table class="table">
  <thead>
	<tr>
	  <th>Field</th><th>Value</th>
	</tr>
  </thead>
  {% for i in range (0,columns|length) %}
  <tr>
	{% if columns[i] == "Description" %}
	<td> {{ columns[i] }}</td>
	<td>
	  <div width="100%">
		{{data[columns[i]] | string | markdown}}
		<button type="button" class="btn btn-primary pull-right btn-xs" data-toggle="collapse" data-target="#form-description">Edit Description</button>
	  </div>
	  <br/>
	  <div width="100%">
		<form width="100%" class="form-group collapse out" id="form-description" action="/table/{{table}}/entry/{{entry}}" method="post">
		  <textarea class="form-control" rows="5" name='description'>{{data[columns[i]]}}</textarea>
		  <button class="btn btn-success pull-right" type="Update">Update</button>
		</form>
	  </div>
	</td>
	{% elif columns[i] == "Tags" %}
	<td> {{ columns[i] }}</td>
	<td>
	  <div width="100%">
		{% if data['Tags'] %}
		{% set taglist = data['Tags'].split(',') %}
		{% for tag in taglist %}
			<span class="label label-primary">{{tag}} </span>&nbsp;
		{% endfor %}
		{% endif %}
		<button type="button" class="btn btn-primary pull-right btn-xs" data-toggle="collapse" data-target="#form-tags">Edit Tags</button>
	  </div>
	  <br/>
	  <div width="100%">
		<form width="100%" class="form-group collapse out" id="form-tags" action="/table/{{table}}/entry/{{entry}}" method="post">
		  <textarea class="form-control" rows="5" name="tags">{{data[columns[i]]}}</textarea>
		  <button class="btn btn-success pull-right" type="Update">Update</button>
		</form>
	  </div>
	</td>
	{% elif columns[i] == "DIFF" %}
		<td> {{ columns[i] }}</td>
		<td>
			<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-diff">
				<span class="glyphicon glyphicon-retweet"></span> View diff of changes made since most recent commit
			</button>
			<a href="/table/{{table}}/entry/{{entry}}/diff.patch">Diff Patch</a>
			<div style="width=0px;">
				<div class="modal fade" id="modal-diff" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
	  					<div class="modal-content">
							<div class="modal-header">
		  						<h5 class="modal-title" id="exampleModalLabel">Git DIFF</h5>
		  						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
		  						</button>
							</div>
							<div class="modal-body">
								{{ data['DIFF'] | safe}}
							</div>
							<div class="modal-footer">
		  						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
							</div>
	  					</div>
					</div>
				</div>			
			</div>
		</td>
	{% elif columns[i] == "STDOUT" %}
	{% elif columns[i] == "STDERR" %}
	{% elif columns[i] == "DIFF_PATCH" %}
	{% else %}
	<td> {{ columns[i] }}</td>
	<td> {{ data[columns[i]] }}</td>
	{% endif %}
  </tr>
  {% endfor %}
</table>
</div>

<h3>Simulation Files</h3>

<div class="row">
  <ul class="list-group row">
	{% for i in range(0,tarballfiles|length) %}
	<ul><span class="glyphicon glyphicon-circle-arrow-down"</span><a href="/tarball/{{tarballfiles[i]}}/{{i}}"> {{tarballfiles[i]}}</a></ul>
	{% endfor %}
</ul>
</div>

<h3>Simulation Analysis</h3>

<div class="row">
	{% for i in range(0,imgfiles|length) %}
	<div class="thumbnail col-md-4 ml-auto">
	  <a class="thumbnail" href="/img/{{i}}" style="word-wrap:break-word;">
	  <img src="/img/{{i}}" ></img>
	  </a>
	  <div class="caption text-center">
		<a href="/img/{{i}}"> {{imgfiles[i]}}</a>
	  </div>
	</div>
	{% endfor %}
</div>


{% endblock %}
