{% extends "layout.html" %}
{% block content %}

{% include 'tables.html' %}

<br/>

{% set status_column = -1 %}

<div class="row">
<div class="col-sm-12">
<h2>Table Entries</h2>
<div class="table-responsive">
  <table id="bigtable" class="table table-striped table-bordered" style="width:100%;">
	<thead>
	  <tr>
		{% for i in range(1,columns|length) %}
		<th> {{columns[i]}} </th> 
		{% endfor %}
	  </tr>
	</thead>
	{% for j in range(0,table|length) %}
	<tr>
	  {% for i in range (1,table[j]|length) %}
	  <td>
		{% if columns[i] == "DIR" %}
		{% if status[j] == "Complete" %} <span class="label label-success" alt="Simulation completed"> <span class="glyphicon glyphicon-ok"/> </span></span>
		{% elif status[j] == "Running" %} <span class="label label-warning"> <span class="glyphicon glyphicon-cog"/> </span></span>
		{% elif status[j] == "Interrupt" %} <span class="label label-danger"> <span class="glyphicon glyphicon-remove"/> </span></span>
		{% elif status[j] == "Abort" %} <span class="label label-danger"> <span class="glyphicon glyphicon-remove"/> </span></span>
		{% elif status[j] == "Segfault" %} <span class="label label-danger"> <span class="glyphicon glyphicon-remove"/> </span></span>
		{%   endif%}
		<a href="/table/{{table_name}}/entry/{{table[j][0]}}"{{table[j][i]}}\"">{{table[j][i]}} </a> 
		{% if numfiles|length > 0 %}{% if numfiles[j] > 0 %}
		<span class="label label-primary"> {{numfiles[j]}} files </span>
		{% endif %}{% endif %}
		{% else %}
		{{table[j][i]}}
		{% endif %}
	  </td>
	  {% endfor %}
	</tr>
	{% endfor %}
  </table>
</div>
</div>
</div>



{% endblock %}
