.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal;
}

table pre /*Wrap text in tables*/
{
    white-space:pre-wrap !important;
}

span.sd-badge /*Wrap long text inside badges*/
{
    white-space:pre-wrap !important;
}

table .notranslate
{
    margin:0px !important;
}

table.api-inputs-table
{
    width:100%;
}

table.api-inputs-table th
{
    background-color:darkslategray;
    color:white;
    border:none!important;
}


table.api-inputs-table tr.row-odd td
{
    background:#CCCCCC;
    padding:3px;
    border:none!important;
}
table.api-inputs-table tr.row-odd:hover td
{
    background:slategray;
    color:white;
    padding:3px;
    border:none!important;
}

table.api-inputs-table tr.row-odd td:nth-child(1)
{
    background:#1F77B4;
    color:white;
}

table.api-inputs-table tr.row-odd:hover td:nth-child(1)
{
    background:#FF7F0E;
}

table.api-inputs-table tr.row-even td
{
    background-color:#BBBBBB !important;
    padding:3px;
    border:none!important;
}
table.api-inputs-table tr.row-even:hover td
{
    color:white;
    background-color:slategray !important;
    padding:3px;
    border:none!important;
}

table.api-inputs-table tr.row-even td:nth-child(1)
{
    width:25%;
    color:white;
    background:#1F77B4 !important;
}
table.api-inputs-table tr.row-even td:nth-child(2)
{
    width:10%;
}

table.api-inputs-table tr.row-even:hover td:nth-child(1)
{
    color:white;
    background:#FF7F0E !important;
}

.api-inputs-table code.code
{
    background-color:transparent !important;
    border-color:transparent !important;
    color:white !important;
    font-weight:bold !important;
}

